<div class="container padding card_background">
  <h1 style="padding-bottom: 20px;">Trending Games</h1>
  <div class="your-class" id="game_display">
      <% @games.each do |game| %>
      <div>
      <%= link_to game do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url(http://unsplash.com)">
      <div class="card-category"> <%= game.name %> </div>
      <div class="card-description">
        <h2><%= game.description %></h2>
        <p><%= game.price %></p>
      </div>
      <a class="card-link" href="#" ></a>
    </div>
    <% end %>
    </div>
    <% end %>
</div>

<h1 style="padding-bottom: 20px;">Family Games</h1>
  <div class="your-class">
      <% @games.each do |game| %>
      <div>
      <%= link_to game do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url(http://unsplash.com)">
      <div class="card-category"> <%= game.name %> </div>
      <div class="card-description">
        <h2><%= game.description %></h2>
        <p><%= game.price %></p>
      </div>
      <a class="card-link" href="#" ></a>
    </div>
    <% end %>
    </div>
    <% end %>
</div>


</div>








