<div class="container padding card_background">
  <h1 style="padding-bottom: 20px; margin-left: 18px; font-size: 50px">Trending Games</h1>

  <div class="your-class" id="game_display">
    <% @games.joins(:rentals).order('count(rentals.*) desc').group("games.id").limit(5).each do |game| %>
      <div>
        <%= link_to game_path(game) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path game.photo.path, height: 500, width: 500 %>')">
            <div class="card-description">
              <% name     = game.name %>
              <% rentals  = game.rentals.count %>
              <h2 class="game-name"><%= "#{ name }  -  #{ rentals } #{ rentals == 1 ? "rental" : "rentals"}" %></h2>
              <p><%= game.price %> €/per day</p>
            </div>
          <!-- <a class="card-link" href="#" ></a> -->
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <h1 style="padding-bottom: 20px; padding-top: 50px; margin-left: 18px; font-size: 50px"> Family Games </h1>
  <div class="your-class">
    <% @games.where(category: "family").each do |game| %>
    <div>
      <%= link_to game do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path game.photo.path, height: 500, width: 500 %>')">

        <div class="card-description">
          <h2><%= game.name %></h2>
          <p><%= game.price %> €/per day</p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <h1 style="padding-bottom: 20px; padding-top: 50px; margin-left: 18px; font-size: 50px">German Games</h1>
  <div class="your-class">
    <% @games.where(category: "german").each do |game| %>
    <div>
      <%= link_to game do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path game.photo.path, height: 500, width: 500 %>')">

        <div class="card-description">
          <h2><%= game.name %></h2>
          <p><%= game.price %> €/per day</p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

</div>








