<% letters  = [] %>
<% games    = [] %>
<% @games.each { |game| letters << game.name.chars.first.downcase && games << game.name } %>
<% letters.uniq! %>
<% letters.sort! %>

<div style="border-bottom: 5px solid grey; text-align: center; margin-left: 275px; margin-right: 275px">
  <h1>Index of all games</h1>
</div>
<br>
<div>
<h3>Filter by
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Category
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#" id="family">family</a></li>
    <li><a href="#" id="card">card</a></li>
    <li><a href="#" id="german">german</a></li>
    <li><a href="#" id="children">children</a></li>
    <li><a href="#" id="drinking">drinking</a></li>
    <li><a href="#" id="group">group</a></li>
  </ul>
</div></h3>
</div>

<% letters.each do |letter| %>

<div class="container">
<div class="index-letter col-xs-12 col-sm-2"> <%= letter.upcase %> </div>
<br>
<% @games.each do |game| %>
  <% if game.name.chars.first.downcase == letter %>
    <% unless games.index(game.name.downcase) %>
      <div class="col-xs-12 col-sm-2">
        <%= link_to game do %>
        <div class="card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url(https://unsplash.it/200/300/?random)" data-category="<%= game.category %>">
          <div class="card-description">
            <h2><%= game.name %></h2>
            <p>From  $<%= game.price %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% games << game.name.downcase %>
    <% end %>
  <% end %>
<% end %>
</div>

<% end %>

<% content_for(:after_js) do %>

<script>
  $(document).ready(function () {

    $('#drinking').click(function () {
      $('.card-index').each(function() {
        console.log($(this).data())
        if ($(this).data().category != 'drinking' ) {
          $(this).hide()
          $(this).parent().parent().prev().prev().hide()
        }
      });
    });



    $('#family').click(function () {
      $('.card-index').each(function() {
        console.log($(this).data())
        if ($(this).data().category != 'family' ) {
          $(this).hide()
          $(this).parent().parent().prev().prev().hide()
        }
      });
    });


    $('#card').click(function () {
      $('.card-index').each(function() {
        console.log($(this).data())
        if ($(this).data().category != 'card' ) {
          $(this).hide()
          $(this).parent().parent().prev().prev().hide()
        }
      });
    });


    $('#german').click(function () {
      $('.card-index').each(function() {
        console.log($(this).data())
        if ($(this).data().category != 'german' ) {
          $(this).hide()
          $(this).parent().parent().prev().prev().hide()
        }
      });
    });


    $('#children').click(function () {
      $('.card-index').each(function() {
        console.log($(this).data())
        if ($(this).data().category != 'children' ) {
          $(this).hide()
          $(this).parent().parent().prev().prev().hide()
        }
      });
    });


    $('#group').click(function () {
      $('.card-index').each(function() {
        console.log($(this).data())
        if ($(this).data().category != 'group' ) {
          $(this).hide()
          $(this).parent().parent().prev().prev().hide()
        }
      });
    });

  });

</script>

<% end %>
