<% letters  = [] %>
<% games    = [] %>
<% @games.each { |game| letters << game.name.chars.first.downcase && games << game.name } %>
<% letters.uniq! %>
<% letters.sort! %>

<div style="border-bottom: 5px solid grey; text-align: center; margin-left: 275px; margin-right: 275px">
  <h1>Index of all games</h1>
</div>
<br>


<% letters.each do |letter| %>

<div class="container">
<div class="index-letter col-xs-12 col-sm-2"> <%= letter.upcase %> </div>
<br>
<% @games.each do |game| %>
  <% if game.name.chars.first.downcase == letter %>
    <% unless games.index(game.name.downcase) %>
      <div class="col-xs-12 col-sm-2">
        <%= link_to game do %>
        <div class="card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url(https://unsplash.it/200/300/?random)">
          <div class="card-description">
            <h2><%= game.name %></h2>
            <p>From  $<%= game.price %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% games << game.name.downcase %>
    <% end %>
  <% end %>
<% end %>
<script> console.log('<%= raw games %>') </script>
</div>

<% end %>
