<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path @game.photo.path, height: 500, width: 500 %>')"></div>
      <h1> <%= @game.name %> </h1>
      <h4> <%= @game.description %> </h4>
    </div>

    <div class="col-xs-12 col-md-3 offset-md-6 rental-box">
      <div class="row">
        <div class="col-md-8 rental-box-top rental-box-top-price" id="game-price-per-day" data-price="<%= @game.price %>">
          $ <%= @game.price %>
        </div>
        <div class="col-md-4 rental-box-top" style="padding: 15.5px;">
          <span> Per Day </span>
        </div>
      </div>
      <br>

      <form>
        <div class="form-group">
        <h4><strong>Select start date</strong></h4>
          <input type="text" class="form-control", id="start_date">
        </div>
        <div class="form-group">
        <h4><strong>Select end date</strong></h4>

          <input type="text" class="form-control", id="end_date">
        </div>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="modal-button">
          Book game
        </button>
      </form>


    </div>
  </div>
</div>

<div class="modal fade text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Review details</h4>
      </div>
      <div class="modal-body">
        <p>You want to rent <%= @game.name %>, </p>
        <p>From the <span id="modal-start"> </span>, to the <span id="modal-end"> </span> </p>
        <p>For a total price of <span id="modal-price"> </span>$ </p>

        <%= simple_form_for [@rental] do |f| %>

          <%= f.input          :start_date, as: :hidden, input_html: { id: "modal-start-date" } %>
          <%= f.input          :end_date, as: :hidden, input_html: { id: "modal-end-date" } %>
          <%= f.hidden_field   :game_id, value: @game.id %>
          <%= f.hidden_field   :user_id, value: current_user.id if user_signed_in? %>
          <% if user_signed_in? %>
            <div class="form-actions text-center" style="border-radius: 2px;" id="submit-button">
             <%= f.button :submit, "Confirm", :class => "btn-success" %>
            </div>
          <% else %>
            <strong> <%= link_to "Sign in to continue", new_user_session_path %> </strong>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>

  <script>
    $(document).ready(function () {

      $("#start_date").datetimepicker({
        format: 'MM/DD/YYYY'
      });

      $("#end_date").datetimepicker({
        format: 'MM/DD/YYYY'
      });

      $("#modal-button").click(function () {
        var start = $("#start_date").val();
        var end = $("#end_date").val();
        $("#modal-start-date").val(start);
        $("#modal-end-date").val(end);
        $("#modal-start").html(start);
        $("#modal-end").html(end);
        // calculate price based on number of days
        var date1 = new Date(start);
        var date2 = new Date(end);
        var timeDiff = Math.abs(date2.getTime() - date1.getTime());
        var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
        var ppd = $("#game-price-per-day").data("price")
        $("#modal-price").html(diffDays*ppd);
      });


    });
  </script>

<% end %>




