  <h1>Welcome to your Dashboard</h1>

<%= current_user.email %>


  <div class="container">
    <div class="row">
    <h3><strong>Your currently rented games:</strong></h3>
    <% current_user.rentals.each do |rental| %>
      <div class="col-xs-12 col-sm-2">
        <%= link_to game_path(rental.game) do %>
        <div class="card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path rental.game.photo.path %>')">
        <div class="card-description">
          <h2 class="game-name"><%= rental.game.name %></h2>
          <p><%= rental.game.price %> €/per day</p>
        </div>
      </div>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>


<div class="container" id="">
  <div class="row">
  <h3><strong>Your games:</strong></h3>
        <% current_user.games.each do |game| %>
        <div class="col-xs-12 col-sm-2">
        <%= link_to game_path(game) do %>
        <div class="card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path game.photo.path %>')">
        <div class="card-description">
          <h2 class="game-name"><%= game.name %></h2>
          <p><%= game.price %> €/per day</p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3><strong>Pending rentals:</strong></h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3><strong>games currently rented out:</strong></h3>
  </div>
</div>

<!--   <div class="container padding">
    <div class="row">

      <% (current_user.games).each do |game| %>
      <div class="col-xs-12 col-sm-1" style="border: 2px">
        <%= link_to game do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path game.photo.path, height: 500, width: 500 %>')">
        <div class="card-description">
          <h2><%= game.name %></h2>
          <p><%= game.price %> €/per day</p>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
 -->

