
<br>
<br>
<br>
<div class="container" style="width: 1080px;">
  <div class="row">
    <div class="col-md-3">
      <% if current_user.facebook_picture_url.nil? %>
        <%= image_tag "http://placehold.it/30x30", class: "avatar-square dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <% else %>
        <%= image_tag "#{current_user.facebook_picture_url}", class: "avatar-square" %>
      <% end %>
      <div class="panel-body">
        <div class="panel space-4 profile-card">
          Your shit here
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <% unless @pending_owned_rentals.empty? %>
        <div class="panel space-4 profile-card">
          <div class="panel-header">
            Rentals awaiting your approval
          </div>
          <ul>
            <% @pending_owned_rentals.each do |rental| %>
              <li class="padded">
                <strong> <%= "#{rental.user.email}" %> </strong> would like to rent <strong> <%= rental.game.name %> </strong> from <%= "#{rental.start_date} to #{rental.end_date}" %>
                <br>
                <%= link_to "Approve", rental_path(rental, status: "active"), method: "patch", :class => "btn btn-success" %>
                <%= link_to "Decline", rental_path(rental, status: "declined"), method: "patch", :class => "btn btn-danger"  %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render 'rental_game_show.html.erb', games: @current_rentals, header: "Your currently rented games" %>

      <%= render 'game_show.html.erb', games: @user_games, header: "Your games" %>

      <%= render 'game_show.html.erb', games: @outrented_games, header: "Your games out for rent" %>

    </div>
  </div>
</div>




